:root{
    --color-primary:rgb(0, 132, 255);
    --color-primary-dark:rgb(5, 55, 101);
    --color-yellow:#EEA302;
    --color-red:#E13B25;
    --color-blue-green:#80D8DA;
    --color-yellow-dark:#c38603;
    --color-red-dark:#b22e1c;
    --color-blue-green-dark:#6ebfc1;
    --color-grey:#b0b0b0;
}
@keyframes colorAnim {
    From {
        filter : grayscale(1) ;
    }
    To {
        filter: grayscale(0) ;
        transform: scale(1.018);
        border-radius: 48%;
    }

}
a:hover{
    color: var(--color-primary);
}
header{
    display: flex;
    width: 100%;
    justify-content: center;
}
body{
    font-family: 'Roboto', sans-serif;
    padding: 25px;
    height: 100vh;
}
.index-main{
    display: flex;
    flex-wrap: wrap;
    min-height: 75vh;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: all ease-in-out 0.3s;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding: 10px;
}
form h2{
    font-size: 20px;
    margin-left: 20px;
}
.form-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1024px;
    justify-content: space-between;
}
.cv-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: all ease-in-out 0.3s;
}
.projects-container{
    display: flex;
    width: 100%;
    max-width: 1024px;
    margin: 10px;
    margin-top: 70px;
}
.projects-container .exp-title{
    margin-bottom: 35px;
}
.project-div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 15px;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    margin: 5px 0px 5px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.project-div:hover{
    background-color: aliceblue;
}
.project-div .column{
    text-align: justify;
    max-width: 500px;
}
.project-div img{
    max-width: 250px;
    padding: 10px;
    background-color: #ddd;
}
.project-div b{
    font-size: large;
}
h1{
    font-size: 65px;
    margin: 0px;
}
.logoname{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}
.logoname:hover{
    padding: 10px;
    border-radius: 5px;
    background-color: aliceblue;
    transition: all ease-in-out 0.3s;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}
.logoname a{
    text-decoration: none;
    color: black;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:space-between;
    max-width: 1024px;
}
p{
    margin: 0px;
}
.navmenu ul{
    display: flex;
    gap: 10px;
    list-style: none;
}
.navmenu li a{
    text-decoration: none;
    color: black;
    padding: 0px 5px 0px 5px;
    transition: all ease-in-out 0.3s;
}
.navmenu li a:hover{
    color: var(--color-primary);
}
.btn-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    cursor: pointer;
    width: 100px;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    text-decoration: none;
    color: black;
    transition: all ease-in-out 0.3s;
}
.btn-circle:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn:active{
    transform: scale(0.9);
}

.btn-square{
    padding: 10px;
    background-color: transparent;
    transition: all ease-in-out 0.3s;
}
.btn-square:hover{
    box-shadow: 1px 3px 5px var(--color-primary);
    color: var(--color-primary);
    background-color: aliceblue;
}
.border-lf{
    padding: 0px 5px 0px 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
}
.selected{
    padding: 10px;
    border-radius: 5px;
    background-color: aliceblue;
    transition: all ease-in-out 0.3s;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}
li{
    list-style: none;
}
.profile-pic{
    filter: grayscale(1);
    width: 400px;
    height: 400px;
    background-size: cover;
    background-color: #444;
    background-position: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    transition: all ease-in-out 0.5s;
}
.profile-pic:hover{
    filter: grayscale(0);
}
.profile-text{
    text-align: justify;
    text-underline-offset: 10px;
}
.profile-container{
    height: 400px;
    max-width: 400px;
}
.profile-menu{
    display: flex;
    width: 100%;        
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0px;
}
.profile-menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    transition: all ease-in-out 0.3s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.profile-menu li a:hover{
    box-shadow: 1px 3px 5px var(--color-blue-green);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.yellow-back{
    background-color: var(--color-yellow);
    color: black;
}
.red-back{
    background-color: var(--color-red);
}
.blue-back{
    background-color: var(--color-blue-green);
}
.yellow-back:hover{
    background-color: var(--color-yellow-dark);
    color: white;
}
.red-back:hover{
    background-color: var(--color-red-dark);
    color: white;
}
.blue-back:hover{
    background-color: var(--color-blue-green-dark);
    color: white;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
    border-top: 1px solid #bbb;
    max-width: 1024px;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.row{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

a{
    color: black;
    text-decoration: none;
}

.exp-title p{
    color: var(--color-primary-dark);
    align-self: flex-end;
}

.icon a{
    display: flex;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transform: scale(0.9);
    transition: all ease-in-out 0.3s;
}
.icon a:hover{
    color: var(--color-primary);
    transform: scale(1);
}
.cv{
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 900px;
    font-size: 15px;
    padding: 15px;
    margin-top: 50px;
    border-radius: 5px;
    border: solid 1px #ddd;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.cv h1{
    font-size: 20px;
    margin: 25px 0px 25px 0px;
    text-align: center;
}
h3{
    margin: 0px;
}
.exp-title h2{
    font-size: 20px;
    margin: 0px;
}
.cv-container{
    width: 100%;
}
.exp-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.exp-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-desc{
    margin-top: 20px;
}
.text-desc li{
    list-style: circle;
}
.sep{
    width: 100%;
    height: 1px;
    background-color: var(--color-yellow);
    margin: 20px 0px 20px 0px;
}
.input-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
input,textarea{
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #444;
    transition: all ease-in-out 0.3s;
    outline: none;
}
input:focus, textarea:focus{
    border: 2px solid var(--color-primary);
}

/* Tablettes responsivity 2*/
@media screen and (max-width: 905px) {
    .footer-container{
        align-items: center;
        gap: 20px;
        font-size: 14px;
        flex-wrap: wrap;
        width: 90%;
    }
    
    .cv{
        font-size: 13px;
    }
    .footer-container{
        flex-direction: column;
        width: 100%;
    }
    .footer-container .column{
        align-items: center;
    }
    input, textarea, label{
        font-size: 15px;
    }
    .profile-text h1, h3{
        text-align: center;
    }
    .index-main{
        margin-top: 50px; 
    }
    .project-div .column {
        text-align: justify;
        max-width: 50%;
    }
}
@media screen and (max-width: 767px) {
    footer{
        width: 100%;
    }
    .input-div{
        padding: 10px;
    }
    .exp-container .exp-title h2{
        font-size: 16px;
    }
    .exp-container .exp-title{
        flex-direction: column;
        justify-content: center;align-items: center;
    }
    .form-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-container .exp-title{
        justify-content: center;
    }
    .form-container .column b, .form-container .column p{
        text-align: center;
    }
    .cv h1{
        text-align: center;
    }
    nav{
        flex-direction: column;
        gap: 10px;
    }
    .footer-container{
        width: 100%;
    }
    .row{
        justify-content: center;
    }
    form{
        margin-top: 30px;
        width: fit-content;
    }
    .project-div{
        flex-direction: column-reverse ;
    }
    .projects-container{
        margin-top: 0px;
    }
    .projects-container .exp-title{
        justify-content: center;
    }
    .project-div .column {
        text-align: justify;
        max-width: 90%;
    }
    input, textarea{
        width: 200px;
    }
}
@media screen and (max-width: 450px) {
    body{
        padding: 10px;
    }
    .project-div img{
        max-width: 200px;
    }
    .profile-pic{
        width: 280px;
        height: 280px;
    }
    .profile-menu li a{
        height: 80px;
        width: 80px;
    }
    .profile-menu{
        gap: 10px;
    }
    .exp-title p{
        font-size: 10px;
    }
    .exp-title{
        gap: 5px;
    }
}